@import './variables.scss';
@import './mixins.scss';

@import './components/atoms/ContentTitle/contentTitle.scss';
@import './components/atoms/Logo/logo.scss';
@import './components/atoms/ViewMore/viewMore.scss';
@import './components/atoms/Footer/footer.scss';
@import './components/atoms/Select/select.scss';
@import './components/atoms/Pagination/paginate.scss';

@import './components/molecules/Nav/nav.scss';
@import './components/molecules/Search/search.scss';
@import './components/molecules/StarwarsCard/StarwarsCard.scss';
@import './components/molecules/PlanetCard/planetCard.scss';
@import './components/molecules/CharacterCard/characterCard.scss';

@import './components/templates/Header/header.scss';
@import './components/templates/Starships/starships.scss';
@import './components/templates/Planets/planets.scss';
@import './components/templates/Characters/characters.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

.slick-slide.slick-active.slick-cloned {
  width: 320px !important;
}

.view-content {
  max-width: 965px;
  margin: 0 auto;
  padding: 0 10px;

  &-title {
    font-size: 30px;
    margin: 30px 0;
    color: $colorText;
  }

  &-content {
    padding-left: 20px;
    margin-bottom: 30px;
  }

  &-list {
    color: $colorTextLight;
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px 0;
  }
}

.recent {
  border-top: 2px solid $colorText;
  margin-top: 20px;
}

.recently {
  display: flex;
  align-items: center;
  justify-content: center;

  &-title {
    border: 2px solid $colorText;
    padding: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    text-transform: capitalize;
    font-size: 22px;
  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 0px;
}

.circular {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
